/out/
/.idea/
/src/percolation/submit/
/src/percolation/submit/report.txt
/projects/
/src/DequesAndRandomizedQueues/submit/
/src/Autocomplete/undone/
/src/Autocomplete/submit/
/src/Eight_Puzzle/submit/
/src/Eight_Puzzle/undone/
/src/KdTrees/check_style.bat
/src/KdTrees/submit/
/src/KdTrees/undone/
